:root {
  --bgColor: black;
  --primaryColor: white;
  --greenBtnColor: rgb(68, 255, 0);
}

* {
    font-family: space grotesk;
}
#cart-section{
    display: flex;
    position: relative;
    justify-content: end;
    width: 100%;
    padding-right: 1rem;
    box-sizing: border-box;
    margin: 0;
    color: black;
}
#cart-continer{
    color: black;
    display: none;
    gap: 1rem;
    border-radius: 7px;
    flex-direction: column;
    position: absolute;
    width: 50%;
    min-width: 250px;
    max-width: 277px;
    
    background-color: var(--primaryColor);
    z-index: 1;
    padding: 0.5rem;
    box-sizing: border-box;
}
#exit-cart{
    display: flex;
    color: black;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    align-self: end;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
#exit-cart:hover{
    background-color: rgba(0, 0, 0, 0.103);
}
#checkoutBtn:hover{
   background-color: rgba(0, 0, 0, 0.144); 
}
#checkoutBtn{
    align-self: center;
    width: 10rem;
    height: 2rem;
    border-radius: 7px;
    border: none;
    color: black;

}
#cart-content{
    display: flex;
    flex-direction: column;
    min-height: 6rem;
    width: 100%;
    color: black;
    padding: 1rem 0rem;
    box-sizing: border-box;
    border-top: 1px solid var(--bgColor);
    border-bottom: 1px solid var(--bgColor);
    align-items: center;
    max-height: 367px;
    overflow-y: scroll;
}
.item-continer{
    color: black;
    flex-direction: row;
    padding: 0.5rem;
    width: 90%;
    color: black;
    box-sizing: border-box;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid black;
}
.delete-item{
    color: black;
    margin-left: auto;
}
.item-title{
    color: black;
    width: 77px;
    font-family: 'Times New Roman', Times, serif;
}
.item-price{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.item-img{
    width: 2rem;
    border-radius: 2px;
}
