:root {
    --secondary-text: #9C9C9C;
}

* {
    font-family: space grotesk; 
}

section #main-category {
    display: flex;
}

#secondary-category {
    color: var(--secondary-text);
}
 
#logo img {
    display: flex;
    align-items: center;
    width: 150px;
    gap: 0;
    padding: 0;
} 

@media screen and (min-width: 375px) {

#category-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

#category-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 1.2rem;
    margin: 1rem;
}

#category-container div img {
        height: 200px;
    }
}

#category-container div {
    display: grid;
    background: white;
    color: black;
    border-radius: 1%;
    margin-top: 0px;
    text-align: center;
    padding: 0px;
}

#category-container div:hover {
    cursor: pointer;
}

.product-name-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-name-price p {
    margin: 0.4rem;
    word-wrap: break-word;
}

#category-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (min-width: 667px) {

    #category-title {
        font-size: 2rem;
    }

    #category-container div img {
        height: 250px;
    }
}

@media screen and (min-width: 875px) {

    #category-container {
        grid-template-columns: auto auto auto auto;
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 0px;
}

.pagination a {
    display: inline-block;
    margin: 0 12px;
    cursor: pointer;
    text-align: center;
    color: white;
    text-decoration: none;
}

a.active {
    padding: 0.3rem;
    border: solid;
    border-radius: 30%;
}

#prev-btn {
    display: inline-flex;
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#prev-btn:hover {
    background-color: white;
    border-radius: 30%;
    color: black;
}

#next-btn {
    display: inline-flex;
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#next-btn:hover {
    background-color: white;
    border-radius: 30%;
    color: black;
}

#filtering {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.filter-btn {
    border-radius: 10%;
    cursor: pointer;
    border-color: white;
    padding: 0.3rem;
    border-style: solid;
}

.filter-btn:hover {
    background-color: black;
    color: white;
    border-color: black;
}
