:root {
    --secondary-text: #9C9C9C;
}

* {
    font-family: space grotesk; 
}

section #main-category {
    display: flex;
}

#category-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

#secondary-category {
    color: var(--secondary-text);
}
 
#logo img {
    display: flex;
    align-items: center;
    height: 100px;
    gap: 0;
    padding: 0;
} 

#category-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
}

#category-container div img {
    height: 200px;
}