* {
    font-family: 'Space Grotesk', sans-serif;
    color: white; 
}

#go-back-to-frontpage, a {
    display: flex;
    text-decoration: none;
}

#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: black;
    padding-bottom: 2rem;
}

#login-container > img {
    width: 250px;
}

label {
    padding-bottom: 1rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  border-radius: 6px;
}

#loginBtn {
  font-weight: 800;
  width: 8rem;
  height: 2.4rem;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(68, 255, 0, 0.9);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(68, 255, 0, 0.9);
  color: black;
}

#createAccount-container, p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#createBtn {
    font-weight: 800;
    width: 10rem;
    height: 2rem;
    border: 2px solid rgba(58, 212, 2);
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    color: black;
}



