:root {
  --bgColor: black;
  --primaryColor: white;
  --greenBtnColor: rgb(68,255,0);
}
body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}
.nav-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#product-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
}
#productImg-continer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
#productImg-list{
   
    flex-direction: row;
    display: flex;
    padding-left: 0;
    list-style: none;
    align-self: start;
    gap: 0.7rem;
    
}
.sideImg {
    
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 3rem;
    height: 4rem;
}

#mainProductImg{
    background-color: white;
    margin: 0;
    width: 20rem;
    height: 25rem;
    box-sizing: border-box;
}
#productInfo-continer{
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#product-title{
    font-size: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
}
#product-description{
    font-size: 15px;
}
#addProduct-continer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    width: 100%;
    gap: 1rem;
}
#add-continer{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#small-productImg{
    background-color: var(--primaryColor);
    width: 10rem;
    height: 12rem;
}
#small-title{
    margin-top: 0;
    margin-bottom: 0;
   font-size: 14px; 
}
#small-description{
    margin-top: 0;
    font-size: 12px; 
}
#size-dropdown{
    background-color: var(--primaryColor);
    color: var(--bgColor);
    text-align: end;
    box-sizing: border-box;
    padding: 0 1rem;
    border-radius: 2px;
}
#addBtn{
    margin-top: 1rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2px;
    background-color: var(--greenBtnColor);
}
