
body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}
.nav-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#product-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
}
#productImg-continer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#productImg-list{
   
    flex-direction: row;
    display: flex;
    padding-left: 0;
    list-style: none;
    gap: 0.7rem;
    
}
.sideImg {
    
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 3rem;
    height: 4rem;
}

#mainProductImg{
    background-color: white;
    margin: 0;
    width: 20rem;
    height: 25rem;
    box-sizing: border-box;
}
#productInfo-continer{
    box-sizing: border-box;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#product-title{
    font-size: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
}
#product-description{
    font-size: 15px;
}
