:root {
  --bgColor: black;
  --primaryColor: white;
  --greenBtnColor: rgb(68, 255, 0);
}
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}
.nav-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#productImg-continer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 375px;
}
#information{
  display: block;
  background-color: rgba(0, 0, 0, 0.938);
  color: var(--primaryColor);
  border: 1px solid rgba(255, 255, 255, 0.219);
  gap: 1rem;
  padding: 0rem 1rem;
  padding-bottom: 0.5rem;
  width: 90%;
  box-sizing: border-box;
  position: absolute;


}
#information > div{
  gap: 0;
  padding-bottom: 0.5rem;
  box-shadow: 0px 1px 0px white;
}
#productImg-list {
  flex-direction: row;
  display: flex;
  padding-left: 0;
  list-style: none;
  align-self: start;
  gap: 0.7rem;
}
.sideImg {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 3rem;
  height: 4rem;
}

#mainProductImg {
  background-color: white;
  margin: 0;
  width: 20rem;
  height: 25rem;
  box-sizing: border-box;
}
#productInfo-continer {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  max-width: 375px;
  flex-direction: column;
  align-items: center;
}
.small {
  display: flex;
}
#product-title {
  font-size: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
}
#product-description {
  font-size: 15px;
}
#addProduct-continer {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  width: 100%;
  gap: 1rem;
}
#add-continer {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#small-productImg {
  background-color: var(--primaryColor);
  width: 10rem;
  height: 12rem;
}
#small-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}
#small-description {
  margin-top: 0;
  font-size: 12px;
}
#size-dropdown {
  background-color: var(--primaryColor);
  color: var(--bgColor);
  text-align: end;
  box-sizing: border-box;
  padding: 0 1rem;
  border-radius: 2px;
}
#size-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}
#size-dropdown:hover #size-dropdown-content {
  display: block;
}
#color-list {
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  padding: 0;
}
#color-list-big {
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  padding: 0;
}
.big {
  display: none;
}
.color-Choice {
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
}
#addBtn {
  margin-top: 1rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  height: 2rem;
  border: none;
  border-radius: 12px;
  background-color: var(--greenBtnColor);
}
#infoBtn {
  margin-top: 1rem;
  text-align: end;
}

#more-like-continer {
  display: flex;
  width: 100%;
  max-width: 775px;
  overflow-x: scroll;
  gap: 1rem;
  padding: 1rem;
  background-image: url("/imges/image\ 49.png");
  background-size: cover;

  box-sizing: border-box;
}
#more-like-section {
  margin-top: 5rem;
  box-sizing: border-box;
}
#more-like-section > h3 {
  padding-left: 0.5rem;
  margin-bottom: 0;
}
#more-like-continer > div {
  min-width: 10rem;
  width: 15rem;
  height: 13rem;
  background-color: white;
}
 #more-like-section > div > img{
    display: none;
  }
#bg-Img {
  width: 10rem;
  opacity: 30%;
}
#art {
  margin-top: 5rem;
  display: flex;
  position: relative;
  width: 375px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
#Art-section {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}
#bg-continer {
  text-align: center;
  position: relative;
}
#art-text {
  position: absolute;
  top: 3rem;
  left: 1rem;
  font-size: 12px;
  width: 120px;
}
.side-art {
  border-radius: 5px;
  width: 5rem;
}
.left {
  position: absolute;
  left: 2.5rem;
  z-index: 1;
}
.right {
  position: absolute;
  right: 2.5rem;
  z-index: 1;
}
#money {
  font-size: 20px;
  padding-bottom: 1rem;
  box-sizing: border-box;
}
#money-big {
  font-size: 30px;
  font-weight: 700;
  margin-top: 2rem;
}
#infoBtn-small {
  width: 10rem;
}


@media screen and (min-width: 665px) {
  #more-like-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #product-section {
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    padding-left: 2rem;
    align-items: start;
    width: 100%;
    box-sizing: border-box;
  }
  #productInfo-continer {
    box-sizing: border-box;
    padding-top: 0;
  }
  #productInfo-continer > h1 {
    margin-top: 0;
    font-size: 40px;
  }
  #productInfo-continer > h2 {
    margin-top: 2rem;
    width: 15rem;
    font-size: 19px;
  }
  #color-list-big {
    padding-left: 0;

    margin-bottom: 0;
    justify-content: start;
  }
  #addProduct-continer {
    margin-top: 1rem;
  }
  #addBtn {
    width: 12rem;
    height: 3rem;
  }
  .small {
    display: none;
  }
  .big {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  #bg-Img {
    width: 20rem;
  }
  #art {
    margin-top: 10rem;
    width: 768px;
    margin-bottom: 5rem;
  }

  #art-text {
    top: 7rem;
    left: 5rem;
    font-size: 20px;
    width: 10rem;
  }
  .side-art {
    width: 10rem;
  }
  .left {
    left: 5.5rem;
  }
  .right {
    right: 5.5rem;
  }

  #productInfo-continer {
    max-width: 320px;
  }
  #product-section {
    margin-top: 10rem;
  }
  #more-like-section {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 992px) {
  #productInfo-continer {
    max-width: max-content;
  }
  #mainProductImg {
    width: 25rem;
    height: 30rem;
  }
  #productImg-continer {
    max-width: fit-content;
  }
  #product-section {
    gap: 5rem;
    justify-content: center;
  }
  #productImg-list {
    max-width: 400px;
    overflow-x: scroll;
    list-style: none;
  }
  .sideImg {
    width: 5rem;
    height: 6rem;
  }
  #money-big {
    margin-top: 5rem;
    font-size: 35px;
  }
  #productInfo-continer > h2 {
    width: 20rem;
  }
  #more-like-section > div{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  
}

@media screen and (min-width: 1200px){
  #more-like-section > div > img{
    width: 15rem;
    height: 10rem;
    display: flex;
  }
} 
