:root{
    --bgColor: black;
    --primaryColor: white;
}
body{
    color: var(--primaryColor);
    background-color: var(--bgColor);
}


#hero{
    display: flex;
    width: 22rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
}

#hero-image{
    
}

#hero-image img{
    width: 9rem;
    border-radius: 10px;
}

#accent-img{
    
}

#hero-text{
    width: 7rem;
}

#hero-text p{
    font-size: 0.7rem;
}

/*-- Navigeringsmenyn --*/
.main-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*viktig för positionering*/
    /*align-items: center;*/
    margin-left: 0.3rem;
    padding-bottom: 2.4rem;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

nav a:hover{
    font-size: 1.5rem;
}

#new-in {
    color: rgb(245, 71, 71);
}

#new-in:hover {
    background-color: black;
    font-size: 1.5rem;
}

.btn button {
    width: 100%;
    padding: 0.3rem;
    text-align: center;
    cursor: pointer; 
    margin-bottom: 0.8rem;
    width: 5.9rem;
}

button:hover {
  background-color: black;
  color: white;
  border-color: greenyellow;
  border-radius: 0.2rem;
}